.column-videos {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  gap: 1.5rem;
  margin-top: 6vh;
}

@media (max-width: 1024px) {
  .column-videos {
    max-width: 1000px;
    width: 90%;
    margin-inline: auto;
  }
}

@media (max-width: 548px) {
  .column-videos {
    width: 100vw;
  }
}

.column-buttons {
  display: flex;
  gap: 1rem;
}

.column-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border: none;

  height: 32px;
  border-radius: 5px;
}

.div-related {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
