.description {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.video__description__container {
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.description__nav {
  display: flex;
  align-items: center;
}

.description__nav img {
  border-radius: 50%;
}

.channel__info__container {
  display: flex;
  margin-left: 1rem;
  gap: 0.5rem;
  flex-direction: column;
}

.channel__info__container p {
  height: 20px;
  margin: 0;
}

.channel__info__title {
  font-weight: bold;
}

.channel__info__subscriberCount {
  font-size: 12px;
}

.channel__info {
  display: flex;
  gap: 2rem;
}

.channel__follow__button {
  border-radius: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  height: 36px;
}

.video__description__text {
  max-width: 710px;
  font-size: 15px;
  line-height: 1.7rem;
  margin-left: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.video__description__full_text {
  max-width: 750px;
  margin-left: 1rem;
  font-size: 15px;
  line-height: 1.7rem;
}

.video__description__full__container {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-top: 1rem;
}

.video__description__button__viewMore {
  position: absolute;
  bottom: 0.5rem;
  font-weight: bolder;
  font-size: 15px;

  right: 1.8rem;
  cursor: pointer;
}
