header {
  height: 56px;
}
.header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__nav__logo {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__input {
  width: 40%;
  height: 35px;
  display: flex;
  align-items: center;
  position: relative;
}

.header__nav__user__mobile {
  display: none;
}

.header__submit__button {
  position: absolute;
  background-color: #d3d3d3;
  height: 39px;
  width: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  right: 0;
  top: 1;
  cursor: pointer;
  z-index: 9999;
}

.input__icon__mobile {
  display: none;
}

.header__submit__button svg {
  position: absolute;
  left: 30%;
  top: 27%;
}
.header_input_field {
  width: 87.9%;
  height: 100%;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 1rem;
  border: none;
  outline: 0.1px solid lightblue;
}

.header__nav__user {
  display: flex;
  padding: 2rem;
  align-items: center;
  gap: 1.5rem;
}
.header__nav__user img {
  border-radius: 50%;
}

@media (max-width: 660px) {
  .header_input_field {
    display: none;
  }

  .header__submit__button {
    display: none;
  }

  .input__icon__mobile {
    display: flex;
  }

  .header__input {
    align-items: center;
    justify-content: end;
  }
}

@media (max-width: 425px) {
  .header__nav__logo {
    padding: 1rem;
  }
  .header__nav__logo svg {
    display: none;
  }

  .header__nav__user {
    display: none;
  }

  .header__nav__user__mobile {
    display: flex;
  }
}
